body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.clickable {
  font-weight: 500;
  color: #007bff;
}

.clickable:hover {
  text-decoration: underline;
}

.user-header {
  color: #61dafb;
}

.pad-under-navbar {
  top: 202px !important;
  position: absolute;
  /* Push it below navbar */
  z-index: 50;
  /* stay above content */
}

.img-size {
  width: 7% !important;
  height: 7% !important;
}

.header-sticky {
  position: absolute;
  top: 56px !important;
  /* height of navbar */
  z-index: 50;
  /* background: white; */
}

.my-navbar {
  position: absolute;
  z-index: 9999;
}